.layout {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.layout-color {
  background-color: #e6f5fc;
  display: flex;
  margin: 20px 0px;
}

.outer {
  overflow: hidden;
  margin: 0px -30px;
}

.brands {
  display: flex;
}

.logo {
  object-fit: contain;
  object-position: center;
  width: calc(20% - 40px);
  margin: 20px;
  cursor: pointer;
}

.button {
  background-color: #40b5ff;
  padding: 10px 15px;
  align-self: center;
  transition: 0.5s;
  opacity: 0.25;
}

.button:hover {
  //background-color: #40b5ff;
  opacity: 0.75;
}

.button:active {
  background-color: #2b7bae;
  opacity: 0.75;
}

.button > svg {
  width: 12px;
  color: #fff;
}

.button-left {
  margin: 2px 2px 2px 7px;
}

.button-right {
  margin: 2px 7px 2px 2px;
}
