@use 'sass:map';

@import './../styles/app_variable.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: calc(100vw / 2 - 175px);
  padding-right: calc(100vw / 2 - 175px);
  background-color: map-get($map: $secondary-colors, $key: 50);
  color: map-get($map: $main-colors, $key: 200);
}

.icons {
  display: flex;
  margin: 5px 0px 0px 0px;

}

.icon{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}