.nav {
  display: flex;
}

.nav-item {
  cursor: pointer;
  flex-grow: 1;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgb(140, 216, 255) 0%,
    rgb(72, 186, 255) 100%
  );
  opacity: 0.6;
  transition: 0.5s;
}

.nav-item:hover {
  opacity: 1;
}

.nav-item > a {
  color: #fff;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
