.section {
  margin-top: 25px;
  margin-bottom: 40px;
}

.label {
  color: #87b3d0;
}

.layout {
  display: inline-grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto auto;
}

.product {
  /* width: calc((100% / 4) - 20px);
  margin: 10px; */
  border-style: none;
}

.price {
  color: #c1dfea;
}

.product-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-name {
  color: #aec5cd;
}

.product-descroption {
  flex-grow: 1;
}

.command {
  align-self: flex-start;
}

.image {
  width: 100%;
  object-fit: contain;
}

.labels {
  position: absolute;
  right: 30px;
  top: 30px;
}
