@use 'sass:map';

@import './../styles/app_variable.scss';

.root {
    position: relative;
}

.backgound {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

.product-list {
    position: relative;
    padding: 70px 60px;
    display: flex;
    flex-direction: column;

    :global .h1 {
        display: inline;
        color: map-get($map: $main-colors, $key: 200);
    }

    hr {
        margin-right: 0px;
        margin-left: 0px;
        width: 30%;
        border-top: 3px solid map-get($map: $main-colors, $key: 200);
        @include box-shadow(map.get($shadows, 'x1'));
        opacity: 0.35;
    }
}

.product-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
    // flex-direction: row;

    .product-item {
        @include box-shadow(map.get($shadows, 'x2'));
        border-radius: 0rem;

        :global .btn {
            border-radius: 0rem;
        }
    }
}

.empty-product {
    min-height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;

    u {
        color: map-get($map: $main-colors, $key: 200);
    }
}

