.slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.layout {
  display: flex;
}

.image {
  width: 100%;
}

.buttons {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.button {
  background-color: #97d6f9;
  padding: 10px 15px;
  margin: 2px;
}

.button:hover {
  background-color: #40b5ff;
}

.button:active {
  background-color: #2b7bae;
}

.button > svg {
  width: 12px;
  color: #fff;
}
